<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Connection</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Bienvenue sur la beta de révise ton cours avec l'ia</h1>
        <p>Si tu en a un, entre ton token pour accéder au service, sinon contacte moi</p>
        <form method="post">
            <label for="password">Ton token :</label>
            <input name="password" id="password" type="password" required>
            <br>
            <button type="submit">C'est parti !</button>
        </form>
    </body>
</html>